<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gestion_Projets_DevlpInfo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InterfaceUserServlet</display-name>
    <servlet-name>InterfaceUserServlet</servlet-name>
    <jsp-file>/Login/InterfaceUtilisateurs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceUserServlet</servlet-name>
    <url-pattern>/interface-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfaceLoginDirecteur</servlet-name>
    <jsp-file>/Login/LoginInterface.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceLoginDirecteur</servlet-name>
    <url-pattern>/loginDirecteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfaceLoginChefProjet</servlet-name>
    <jsp-file>/Login/LoginInterface.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceLoginChefProjet</servlet-name>
    <url-pattern>/loginChefProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfaceLoginDeveloppeur</servlet-name>
    <jsp-file>/Login/LoginInterface.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceLoginDeveloppeur</servlet-name>
    <url-pattern>/loginDeveloppeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierPasswordDirecteur</servlet-name>
    <jsp-file>/Login/ModifierPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPasswordDirecteur</servlet-name>
    <url-pattern>/modifier-password-directeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierPasswordChefProjet</servlet-name>
    <jsp-file>/Login/ModifierPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPasswordChefProjet</servlet-name>
    <url-pattern>/modifier-password-chefProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierPasswordDeveloppeur</servlet-name>
    <jsp-file>/Login/ModifierPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPasswordDeveloppeur</servlet-name>
    <url-pattern>/modifier-password-developpeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>applicationWebJEE.Authentification.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierPasswordServlet</display-name>
    <servlet-name>ModifierPasswordServlet</servlet-name>
    <servlet-class>applicationWebJEE.Authentification.ModifierPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPasswordServlet</servlet-name>
    <url-pattern>/ModifierPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterModifierProjetServlet</display-name>
    <servlet-name>AjouterModifierProjetServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.AjouterModifierProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterModifierProjetServlet</servlet-name>
    <url-pattern>/AjouterModifierProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProjectServlet</display-name>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/DeleteProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffecterNotifierProjetServlet</display-name>
    <servlet-name>AffecterNotifierProjetServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.AffecterNotifierProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterNotifierProjetServlet</servlet-name>
    <url-pattern>/AffecterNotifierProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfacePrincipaleDirecteur</servlet-name>
    <jsp-file>/Directeur/InterfacePrincipaleDirecteur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfacePrincipaleDirecteur</servlet-name>
    <url-pattern>/interface-directeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfacePrincipaleChefProjet</servlet-name>
    <jsp-file>/ChefProjet/InterfacePrincipaleChefProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfacePrincipaleChefProjet</servlet-name>
    <url-pattern>/interface-chefProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterfacePrincipaleDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/InterfacePrincipaleDeveloppeur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfacePrincipaleDeveloppeur</servlet-name>
    <url-pattern>/interface-developpeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterProjet</servlet-name>
    <jsp-file>/Directeur/AjouterProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProjet</servlet-name>
    <url-pattern>/ajouter-projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierProjet</servlet-name>
    <jsp-file>/Directeur/ModifierProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProjet</servlet-name>
    <url-pattern>/modifier-projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterProjet</servlet-name>
    <jsp-file>/Directeur/ConsulterProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterProjet</servlet-name>
    <url-pattern>/consulter-projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AffecterProjet</servlet-name>
    <jsp-file>/Directeur/AffecterNotifierProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterProjet</servlet-name>
    <url-pattern>/affecter-projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterProjetDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/ConsulterProjet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterProjetDeveloppeur</servlet-name>
    <url-pattern>/consulter-projet-dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterServiceDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/ConsulterService.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterServiceDeveloppeur</servlet-name>
    <url-pattern>/consulter-service-dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterTacheDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/ConsulterTache.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterTacheDeveloppeur</servlet-name>
    <url-pattern>/consulter-tache-dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierProfilDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/ModifierProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProfilDeveloppeur</servlet-name>
    <url-pattern>/modifier-profil-dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterCompetenceDeveloppeur</servlet-name>
    <jsp-file>/Developpeur/ConsulterCompetence.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterCompetenceDeveloppeur</servlet-name>
    <url-pattern>/ajouter-competence-dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierPourcentageAvanServlet</display-name>
    <servlet-name>ModifierPourcentageAvanServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.ModifierPourcentageAvanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPourcentageAvanServlet</servlet-name>
    <url-pattern>/ModifierPourcentageAvanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProfilDevServlet</display-name>
    <servlet-name>ModifierProfilDevServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.ModifierProfilDevServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProfilDevServlet</servlet-name>
    <url-pattern>/ModifierProfilDevServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterTechnologieDevServlet</display-name>
    <servlet-name>AjouterTechnologieDevServlet</servlet-name>
    <servlet-class>applicationWebJEE.Presentation.AjouterTechnologieDevServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterTechnologieDevServlet</servlet-name>
    <url-pattern>/AjouterTechnologieDevServlet</url-pattern>
  </servlet-mapping>
</web-app>